<div class="container">
  <div class="content">
    <div class="display">
      <div class="badges" *ngIf="isProdMode">
        <img src="https://badgen.net/npm/v/ngx-editor" />
        <img src="https://badgen.net/npm/dm/ngx-editor" />
        <img src="https://badgen.net/npm/dt/ngx-editor" />
        <img src="https://badgen.net/npm/license/ngx-editor" />
      </div>
    </div>

    

      <div class="editor NgxEditor__Wrapper">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar" [customMenuRef]="customMenu">
        </ngx-editor-menu>
        <ngx-editor [editor]="editor" [ngModel]="html" (ngModelChange)="valuechange($event)">
          <ngx-editor-floating-menu [editor]="editor"></ngx-editor-floating-menu>
        </ngx-editor>
      </div>
      <button (click) = "addLatex()">ADD LATEX TO EDITOR</button>

    <!-- <div class="editor">
      <ngx-editor [editor]="editor" [(ngModel)]="editordoc">
      </ngx-editor>
    </div> -->

    <!-- custom menu -->
    <ng-template #customMenu>
      <app-custom-menu [editor]="editor"></app-custom-menu>
    </ng-template>
  </div>

</div>
